h1 TmpDemo List

table
  thead
    tr
      th First Name
      th Last Name
      th Position
      th
  tbody
    each tmpDemo in tmpDemos
      tr
        td
          a(href=`/tmp-demo/${tmpDemo._id}`)= tmpDemo.firstName
        td= tmpDemo.lastName
        td= tmpDemo.position
        td
          a(href=`/tmp-demo/${tmpDemo._id}/edit`) Edit
          form(action=`/tmp-demo/${tmpDemo._id}/delete`, method="POST")
            input(type="submit", value="Delete")
